@model Task3.MT.MVCWebUI.Models.TransactionModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                @*<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>*@

                <select class="form-control" asp-for="CategoryId"
                        asp-items="@(new SelectList(Model.Categories,"Id","Name"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Unknown" required/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Date" />

            <div class="form-group">
                <label asp-for="TransactionType" class="control-label"></label>

                <select class="form-control" asp-for="TransactionType" asp-items="Model.Types"></select>

                @*<div class="checkbox">
                <label>
                    <input asp-for="TransactionType" /> @Html.DisplayNameFor(model => model.TransactionType)
                </label>
            </div>*@
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                €<input id="money" asp-for="Amount" class="form-control" type="number" required/>
                <span asp-validation-for="Amount" class="text-danger"></span>
                <asp:CompareValidator runat="server" Operator="DataTypeCheck" Type="Integer"
                                      ControlToValidate="money" ErrorMessage="Value must be a whole number" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @*@if (Model.CategoryId > -1)
        {
            <a asp-action="Index" asp-route-Id="@Model.CategoryId">Back to List</a>

        }
        else
        {
            <a asp-action="Index">Back to List</a>

        }*@
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

